<header>
  <h1>Sistema Escola</h1>
</header>
<body>
  <div class="divisao1">
    <h2 class="curso">Curso</h2>
  </div>
  <div class="divisao2">
    <h3 class="titulo">Curso - Incluir</h3>
    <label class="subtitulo">Nome:</label>
    <form onsubmit="alert('Curso adicionado!')">
      <input class="barra" type="text"/>
    <label class="subtitulo">Instrutor:</label>
      <input class="barra" type="text"/>
    <label class="subtitulo">Local:</label>
      <input class="barra" type="text"/>
    <div class="inputfooter">
      <div class="input">
        <label class="subtitulo">Carga Horária:</label>
          <input class="barra" type="number"/>
      </div>
      <div class="input">
        <label class="subtitulo">Data Início:</label>
          <input class="barra" type="date" /> 
      </div>
    </div>
    <div class="buttonfooter">
      <button class="pesquisar" type="submit" >Incluir</button>
      <button class="pesquisar" type="button" onclick="window.location.href = 'home';">Voltar</button>
    </div>
    </form>


     
  </div>
</body>
  