<header>
  <h1>Sistema Escola</h1>
</header>
<body>
  <div class="divisao1">
    <h2 class="curso">Curso</h2>
  </div>
  <div class="divisao2">
    <h3 class="titulo">Curso</h3>
    <label class="subtitulo">Nome:</label>
    <form>
      <input class='barra' type="search">
    </form>    
    <button class="pesquisar" >Pesquisar</button>
    <table class="tabela">
      <thead>
        <tr>
          <th></th>
          <th>Código</th>
          <th>Nome</th>
          <th>Instrutor</th>
          <th>Local</th>
          <th>Carga Horaria</th>
          <th>Data Inicio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cursos" class="corpo-tabela">
          <td></td>
          <td>{{ item.codigo }}</td>
          <td>{{ item.nome }}</td>
          <td>{{ item.instrutor }}</td>
          <td>{{ item.local }}</td>
          <td>{{ item.carga }}</td>
          <td>{{ item.inicio }}</td>
      </tr>
      </tbody>
    </table>
    <button class="iniciar" onclick="window.location.href = 'cadastro';">Iniciar</button>
  </div>
</body>
  