<header>
  <h1>Sistema Escola</h1>
</header>
<body>
  <div class="divisao1">
    <h2 class="curso">Curso</h2>
  </div>
  <div class="divisao2">
    <h3 class="titulo">Curso</h3>
    <label class="subtitulo">Nome:</label>
    <form>
      <input class='barra' type="search" >
    </form>    
    <button class="pesquisar" onclick="alert('Botão clicado!')">Pesquisar</button>
    <table class="tabela">
      <tr>
        <th></th>
        <th>Código</th>
        <th>Nome</th>
        <th>Instrutor</th>
        <th>Local</th>
        <th>Carga Horaria</th>
        <th>Data Inicio</th>
      </tr>
    </table>
    <button class="iniciar" onclick="window.location.href = 'cadastro';">Iniciar</button>
  </div>
</body>
  