@font-face {
    font-family: 'montserrat';
    src: url('assets/montserrat.ttf');

  }
  :root {
    font-family: 'montserrat';
    /* Para a mesma fonte em todo o projeto*/
  }
h2{
  font-size: 13px;
}



  



  
  